.live-player {
	height: 100px;
	width: 200px;
	border: 1px solid #646cff;
	margin-bottom: 30px;
}

.backlight {
  border: 1px;
  border-color: 'green';
	height: 90%;
	width: 100%;
  left: 0;
  top: 20;
  overflow: hidden;
  position: fixed;  
}